<h1>New ocean</h1>

<form action="/<%= oceans_path %>" method="post">
    <label>
        Name: 
        <input name="name" required>
    </label>

    <label>
        Maxdepth: 
        <input type="number" name="maxdepth">
    </label>

    <label>
        Image: 
        <input type="url" name="image">
    </label>

    <button>Create ocean</button>
</form>