<h2>Play Magic 8 Ball</h2>

<p>Think of a question and let the Magic 8 Ball answer you.</p>

<form action="/magic/game">

    <label>
        Question: 
        <input name="question" placeholder="Type question here" required autofocus>
    </label>

    <button>Press for answer</button>

</form>