<h1>Games on Rails</h1>

<p>
    <a href="/magic">
    Click here for magic
    </a>
</p>

or

<p>
    <a href="/number">
    Click here for number
    </a>
</p>

or

<p>
    <a href="/rps">
    Click here for rps
    </a>
</p>