<h1>Welcome to Rock Paper Scissors!</h1>

<p>This is the same as Scissors Paper Rock. Not.</p>

<form action="/rps/game">

    <label>
    Rock Paper Scissors:
    <select>
        <option>Rock</option>
        <option>Paper</option>
        <option>Scissors</option>
    </select>
    </label>

    <button>Press to see if you beat the AI!</button>

</form>