<h2>Verdict: <%= @result %></h2>

@result = 
<!-- # MAX_VALUE = gets.to_i

# input = Random.rand 0..MAX_VALUE

# print "Guess a whole number between & inclusive of 0 to #{ MAX_VALUE}."
# guess = gets.to_i 

# if guess == input 
#     puts "Correct!"
# elsif guess < input 
#     puts "Lower."
# else 
#     puts "Higher."

# until guess == input 
#     if guess < input
#         print "Wrong, guess higher"
#     else 
#         print "Wrong, guess lower"
#         guess = gets.to_i
# end

# puts "Congratulations" -->
