<h2>Play Secret Number!</h2>

<p>Guess a number between 0 & 10.</p>

<form action="/number/game">

    <label>
        Number: 
        <input name="number" placeholder="Type number here" required autofocus>
    </label>

    <button>Am I correct?</button>

</form>