h1 { 
    font: 36px/1.7;
}

body { 
    background: #d6d6d6 url("img/images/background.jpg") cover;
    font:  12px "Helvetica";
    height: 100%;
}

header {
    display: inline;
}

.cover {
    z-index: 1;
}

.logo {
    z-index: 2;
}

a {
    color: red;
    text-decoration: none;
}