<h1><%= @architect["name"] %></h1>

<div class="controls">
    <a href="/architects/<%= @architect["id"] %>/edit">Edit architect</a>
    <a href="/architects/<%= @architect["id"] %>/delete">Delete architect</a>
</div>