<h1>New building</h1>

<form action="/buildings" method="post">
    <label>
        Name:
        <input name="name" required>
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create building</button>
</form>