<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Architects</title>
    <link rel="stylesheet" href="../architects.css">
</head>
<body>

    <div class="container">
        <nav>
            <a href="/architects">All architects</a>
            <a href="/architects/new">New architect</a>
            |
            <a href="/buildings">All buildings</a>
            <a href="/buildings/new">New building</a>
        </nav>

        <%= yield %>
    </div>

</body>
</html>