<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "../css/playing-card.css">
    <title>Playing Cards</title>
</head>
<body>
    <div class = "container">
        <nav>
            <a href = "/playing_cards">All playing cards</a>
            <a href = "/playing_cards">New playing card</a>
        </nav>

        <%= yield %>
    </div>
</body>
</html>