<h1>New playing card</h1>

<form action="/playing_cards" method="post">
    <label>
        Name: 
        <input name="name" required>
    </label>

    <label>
        Suit: 
        <input name="suit">
    </label>

    <label>
        Power: 
        <input name="power">
    </label>

    <label>
        Image:
        <input type="url" name="image">
    </label>

    <button>Create playing card</button>
</form>